<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerRootPath" value="c:\sage"/>
    <add key="sage.common.logging.LoggerName" value="log4Net"/>
    <add key="credentialsFile" value="c:\sage\logon\credentials.xml"/>
    <add key="AuthenticationProvider" value="Windows"/>
    <add key="ServiceBaseAddress" value="https://sage100396.sageukie.adinternal.com:281"/>
    <add key="Sage200Path" value="D:\Dev\Sage200\sage200\Std18\Indigo\Source\Sage200Services\Sage200Services\Bin"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <authentication mode="None"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
</configuration>